table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    padding-bottom: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h2, h3 {
    text-align: center;
}